%palette {
	--primary100: #d6e4ff;
	--primary200: #adc8ff;
	--primary300: #84a9ff;
	--primary400: #6690ff;
	--primary500: #3366ff;
	--primary600: #254edb;
	--primary700: #1939b7;
	--primary-t-100: rgba(51, 102, 255, 0.08);
	--primary-t-200: rgba(51, 102, 255, 0.16);
	--primary-t-300: rgba(51, 102, 255, 0.24);
	--primary-t-400: rgba(51, 102, 255, 0.32);
	--primary-t-500: rgba(51, 102, 255, 0.4);
	--success100: #d6fdd4;
	--success200: #aafcae;
	--success300: #7ef690;
	--success400: #5ded81;
	--success500: #2be26b;
	--success600: #1fc268;
	--success700: #15a262;
	--success-t-100: rgba(43, 226, 107, 0.08);
	--success-t-200: rgba(43, 226, 107, 0.16);
	--success-t-300: rgba(43, 226, 107, 0.24);
	--success-t-400: rgba(43, 226, 107, 0.32);
	--success-t-500: rgba(43, 226, 107, 0.4);
	--info100: #d6fcff;
	--info200: #aef5ff;
	--info300: #85e8ff;
	--info400: #67d8ff;
	--info500: #35bfff;
	--info600: #2696db;
	--info700: #1a71b7;
	--info-t-100: rgba(53, 191, 255, 0.08);
	--info-t-200: rgba(53, 191, 255, 0.16);
	--info-t-300: rgba(53, 191, 255, 0.24);
	--info-t-400: rgba(53, 191, 255, 0.32);
	--info-t-500: rgba(53, 191, 255, 0.4);
	--warn100: #fff8d7;
	--warn200: #fff0b0;
	--warn300: #ffe588;
	--warn400: #ffdb6b;
	--warn500: #ffca3a;
	--warn600: #dba62a;
	--warn700: #b7851d;
	--warn-t-100: rgba(255, 202, 58, 0.08);
	--warn-t-200: rgba(255, 202, 58, 0.16);
	--warn-t-300: rgba(255, 202, 58, 0.24);
	--warn-t-400: rgba(255, 202, 58, 0.32);
	--warn-t-500: rgba(255, 202, 58, 0.4);
	--danger100: #ffe6d9;
	--danger200: #ffc8b3;
	--danger300: #ffa28d;
	--danger400: #ff7f71;
	--danger500: #ff4542;
	--danger600: #db303c;
	--danger700: #b72138;
	--danger-t-100: rgba(255, 69, 66, 0.08);
	--danger-t-200: rgba(255, 69, 66, 0.16);
	--danger-t-300: rgba(255, 69, 66, 0.24);
	--danger-t-400: rgba(255, 69, 66, 0.32);
	--danger-t-500: rgba(255, 69, 66, 0.4);
}
